table {
    margin: auto;
    font-size: 14px;
}

td, th {
    padding: 8px;
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid lightgrey;
}

p {
    margin-top: 0px;
}

form input,
form select {
    height: 24px;
    width: 240px;
    box-sizing: border-box;
}

form label {
    font-size: 12px;
}

section.add-more {
    background-color: rgb(241, 241, 241);
    padding: 40px;
    margin-top: 40px;
}