<form class="add-more">
    <p>Adicionar membros</p>
    <label for="firstName">Nome:</label>
    <input type="text" id="firstName" name="firstName" [formControl]="firstName" >

    <label for="lastName">Sobrenome:</label>
    <input type="text" id="lastName" name="lastName" [formControl]="lastName" >

    <label for="instrument">Instrumento</label>
    <select name="instrument" id="instrument" [formControl]="instrument">
        <option *ngFor="let instrument of instrumentsOptions" [value]="instrument">{{ instrument }}</option>
    </select>
    <input type="button" value="Adicionar" (click)="submitNewMemberForm()">
</form>
